doctype html
html.w-100.h-100
    head
        title= title
        link(rel='shortcut icon', href='/images/favicon.ico')
        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.6/css/all.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery/jquery-3.3.1.min.js')
        script(src='/javascripts/bootstrap/bootstrap.bundle.js')
        script(src='/javascripts/jquery/js.cookie-2.2.0.min.js')
        script(src='/javascripts/ace/ace.js')
        script(src='/javascripts/ace/ext-language_tools.js')
    body.w-100.h-100(style="display: flex; flex-direction: column")
        - var currentItem='代码';
        include navbar
        // - var languages = [{name: "C", code: 1, mode: "c_cpp"}, {name: "C++", code: 2, mode: "c_cpp"}, {name: "C#", code: 9, mode: "csharp"}, {name: "CoffeeScript", code: 59, mode: "coffee"}, {name: "Go", code: 21, mode: "golang"}, {name: "Haskell", code: 12, mode: "haskell"}, {name: "Java", code: 3, mode: "java"}, {name: "Java8", code: 43, mode: "java"}, {name: "JavaScript", code: 20, mode: "javascript"}, {name: "Kotlin", code: 71, mode: "kotlin"}, {name: "Pascal", code: 25, mode: "pascal"}, {name: "PHP", code: 7, mode: "php"}, {name: "Python3", code: 30, mode: "python"}, {name: "Rust", code: 50, mode: "rust"}, {name: "Scala", code: 15, mode: "scala"}, {name: "Swift", code: 51, mode: "swift"}, {name: "TypeScript", code: 66, mode: "typescript"}];
        // - var themes = [{name: "Ambiance", abbr: "ambiance"}, {name: "Chaos", abbr: "chaos"}, {name: "Chrome", abbr: "chrome"}, {name: "Clouds", abbr: "clouds"}, {name: "CloudsMidnight", abbr: "clouds_midnight"}, {name: "Cobalt", abbr: "cobalt"}, {name: "CrimsonEditor", abbr: "crimson_editor"}, {name: "Dawn", abbr: "dawn"}, {name: "Dracula",abbr: "dracula"}, {name: "DreamWeaver", abbr: "dreamweaver"}, {name: "Eclipse", abbr: "eclipse"}, {name: "Github", abbr: "github"}, {name: "Gob", abbr: "gob"}, {name: "Gruvbox", abbr: "gruvbox"}, {name: "IdleFingers", abbr: "idle_fingers"}, {name: "Iplastic", abbr: "iplastic"}, {name: "Katzenmilch", abbr: "katzenmilch"}, {name: "KrTheme", abbr: "kr_theme"}, {name: "Kuroir", abbr: "kuroir"}, {name: "Merbivore", abbr: "merbivore"}, {name: "MerbivoreSoft", abbr: "merbivore_soft"}, {name: "MonoIndustrial", abbr: "mono_industrial"}, {name: "Monokai", abbr: "monokai"}, {name: "PastelOnDark", abbr: "pastel_on_dark"}, {name: "SolarizedDark", abbr: "solarized_dark"}, {name: "SolarizedLight", abbr: "solarized_light"}, {name: "SqlServer", abbr: "sqlserver"}, {name: "Terminal", abbr: "terminal"}, {name: "Terminal", abbr: "terminal"}, {name: "Tomorrow", abbr: "tomorrow"}, {name: "TomorrowNight", abbr: "tomorrow_night"}, {name: "TomorrowNightBlue", abbr: "tomorrow_night_blue"}, {name: "TomorrowNightBright", abbr: "tomorrow_night_bright"}, {name: "TomorrowNightEighties", abbr: "tomorrow_night_eighties"}, {name: "Twilight", abbr: "twilight"}, {name: "VibrantInk", abbr: "vibrant_ink"}, {name: "Xcode", abbr: "xcode"}];
        - var languages = ["C", "C++", "C#", "CoffeeScript", "Go", "Haskell", "Java", "Java8", "JavaScript", "Kotlin", "Pascal", "PHP", "Python3", "Rust", "Scala", "Swift", "TypeScript"];
        - var themes = ["Ambiance", "Chaos", "Chrome", "Clouds", "CloudsMidnight", "Cobalt", "CrimsonEditor", "Dawn", "Dracula", "DreamWeaver", "Eclipse", "Github", "Gob", "Gruvbox", "IdleFingers", "Iplastic", "Katzenmilch", "KrTheme", "Kuroir", "Merbivore", "MerbivoreSoft", "MonoIndustrial", "Monokai", "PastelOnDark", "SolarizedDark", "SolarizedLight", "SqlServer", "Terminal", "Tomorrow", "TomorrowNight", "TomorrowNightBlue", "TomorrowNightBright", "TomorrowNightEighties", "Twilight", "VibrantInk", "Xcode"];
        .m-0.p-0(style="flex-grow: 1; display: flex; flex-direction: row")
            .w-75(style="display: flex; flex-direction: column")
                #editor(style="flex-grow: 1")
                .container.bg-light.border-top.border-secondary
                    button#run-btn.btn.btn-secondary.btn-sm.float-right.m-1(type="button") 运行代码
                    select#language-menu.custom-select-sm.float-right.m-1(style="width: 100px; border-radius: 5px")
                        each language in languages
                            option=language
                    select#theme-menu.custom-select-sm.float-right.m-1(style="width: 100px; border-radius: 5px")
                        each theme in themes
                            option=theme
                    select#fontsize-menu.custom-select-sm.float-right.m-1(style="width: 100px; border-radius: 5px")
                        - for (var size=6; size<=40; size++)
                            option=size
            .w-25.bg-black.text-white(style="display: flex; flex-direction: column; font-family: 'Lucida Console'")
                .pt-1.pb-1.pl-3.pr-3 input:
                textarea#input.form-control-plaintext.text-white.pt-1.pb-1.pl-3.pr-3(rows=4, style="outline: none; resize:none")
                .pt-1.pb-1.pl-3.pr-3.border-top.border-secondary output:
                pre#output.pt-1.pb-1.pl-3.pr-3.text-white(style="flex-grow: 1; font-size: 17px; white-space: pre-wrap; word-wrap: break-word;")

        script(src='/javascripts/custom/bundle.editor.js')
