doctype html
html
  head
    title= title
    link(rel='shortcut icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.6/css/all.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery/jquery-3.3.1.min.js')
    script(src='/javascripts/bootstrap/bootstrap.bundle.js')
    script(src='/javascripts/jquery/js.cookie-2.2.0.min.js')
  body
    block content
